.map,
.info,
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f7f7f4;
  color: #445;
}

.button {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
  background: #ccc;
  border-radius: 4px;
}
.button:hover {
  background: #aaa;
}
.dark .button {
  background: #bbb;
  color: #333;
}
.dark .button.active {
  background: #778;
  color: #fff;
}
.dark .button:hover {
  background: #ccc;
}
.dark .button.active:hover {
  background: #889;
}
